In [29]:
import sys
extra_pathes = (
    './src', 
    '../egrid/src', 
    '../graphparser/src')
for path in extra_pathes:
    if path not in sys.path:
        sys.path.append(path)
import dssex

### Data Input Elements

<table>
<tr>
<th>element</th>
<th>in graphic</th>
<th>in footer</th>
<th>role</th>
<th>attributes</th>
</tr>
<tr>
<td>
PValue
</td>
<td>
at terminal<ul><li>P=0.72</li><li>P.cost=14</li></ul>
</td>
<td>
#.PValue(id_of_batch=a P=72 direction=-1 cost=27)
</td>
<td>
value of (measured) active power
</td>
<td>
<ul><li>id_of_batch</li><li>P</li><li>direction</li><li>cost</li></ul>
</td>
</tr>

<tr>
<td>
QValue
</td>
<td>
at terminal<ul><li>Q=0.27</li><li>Q.cost=17.8</li></ul>
</td>
<td>
#.QValue(id_of_batch=b Q=0.27 cost=27)
</td>
<td>
value of (measured) reactive power
</td>
<td>
<ul><li>id_of_batch</li><li>Q</li><li>direction</li><li>cost</li></ul>
</td>
</tr>

<tr>
<td>
IValue
</td>
<td>
at terminal<ul><li>I=12.3</li></ul>
</td>
<td>
#.IValue(id_of_batch=c I=12.3)
</td>
<td>
value of (measured) current
</td>
<td>
<ul><li>id_of_batch</li><li>I</li></ul>
</td>
</tr>

<tr>
<td>
Vvalue
</td>
<td>
at node<ul><li>V=1.03</li></ul>
</td>
<td>
#.Vvalue(id_of_node=c V=1.03)
</td>
<td>
value of (measured) voltage
</td>
<td>
<ul><li>id_of_node</li><li>V</li></ul>
</td>
</tr>

<tr>
<td>
Factor
</td>
<td>
</td>
<td>
#.Defk(id=kp type=const)
</td>
<td>
define injection scaling factor(s)
</td>
<td>
<ul><li>id</li><li>type</li><li>id_of_source</li><li>value</li><li>min</li><li>max</li><li>is_discrete</li><li>m</li><li>n</li><li>step</li><li>cost</li></ul>
</td>
</tr>

<tr>
<td>
Injectionlink
</td>
<td>
</td>
<td>
#.Klink(id_of_injection=load part=p id_of_factor=kp)
</td>
<td>
logical connection <p/>between injection and a factor
</td>
<td>
<ul><li>id_of_injection</li><li>part</li><li>id_of_factor</li><li>step</li></ul>
</td>
</tr>

<tr>
<td>
Factor
</td>
<td>
</td>
<td>
#.Deft(id=tap value=0 m=-.00625 n=1 min=-16 max=16)
</td>
<td>
define tap factors
</td>
<td>
<ul><li>id</li><li>type</li><li>id_of_source</li><li>value</li><li>min</li><li>max</li><li>is_discrete</li><li>m</li><li>n</li><li>step</li><li>cost</li></ul>
</td>
</tr>

<tr>
<td>
Terminallink
</td>
<td>
at terminal<ul><li>Tlink=tap</li></ul>
</td>
<td>
#.Tlink(id_of_node=n0 id_of_branch=tr id_of_factor=tap)
</td>
<td>
logical connection between a<p/>terminal of a branch and a factor
</td>
<td>
<ul><li>id_of_node</li><li>id_of_branch</li><li>id_of_factor</li><li>step</li></ul>
</td>
</tr>

<tr>
<td>
Vlimit
</td>
<td>
at node<ul><li>Vlimit.min=.95</li><li>Vlimit.max=1.05</li></ul>
</td>
<td>
#.Vlimit(min=.95 max=1.05)
</td>
<td>
limit of voltage
</td>
<td>
<ul><li>id_of_node</li><li>min</li><li>max</li><li>step</li></ul>
</td>
</tr>

<tr>
<td>
Vlimit
</td>
<td>
</td>
<td>
#.Defvl(id_of_node=n0 min=.95 step(1 2))
</td>
<td>
limits of voltage
</td>
<td>
<ul><li>id_of_node</li><li>min</li><li>max</li><li>step</li></ul>
</td>
</tr>

<tr>
<td>
Term
</td>
<td>
</td>
<td>
#.Defoterm
</td>
<td>
term of objective function
</td>
<td>
<ul><li>fn</li><li>args</li><li>weight</li><li>step</li></ul>
</td>
</tr>

</table>

### Multiline Text Input
Three versions of the same model.
<table>
<tr>
<th>text</th>
<th>schema</th>
<th>schema with decoration</th>
</tr>
<tr>
<td><pre>
slack Branch n
      y_lo=1k-1kj
      y_tr=1µ+1µj

heating n
P10=200

cap n
Q10=-10
Exp_v_q=2

motor n
P10=160
Q10=10

#.Tlink(id_of_node=slack id_of_branch=Branch id_of_factor=tap)
#.Deft(id=tap type=var min=-16 max=16 value=0 is_discrete=True cost=.03)
#.Defk(id=kcap type=var min=0 max=5 value=0 is_discrete=True cost=.05)
#.Klink(id_of_injection=cap id_of_factor=kcap part=q)
#.Vlimit(min=.95)
</pre></td>
<td><pre>
slack ---------------Branch-------------- n ------------- heating
        Tlink=tap     y_lo=1k-1kj         |                P10=200
                      y_tr=1µ+1µj         |
                                          |
                         cap ------------ n ------------- motor
                          Q10=-10                          P10=160
                          Exp_v_q=2                        Q10=10

#.Deft(id=tap type=var min=-16 max=16 value=0 is_discrete=True cost=.03)
#.Defk(id=kcap type=var min=0 max=5 value=0 is_discrete=True cost=.05)
#.Klink(id_of_injection=cap id_of_factor=kcap part=q)
#.Vlimit(min=.95)</pre></td>
<td><pre>
                   (                                 ~~~
               +-->(                                 ~~~
slack +--------+   (-Branch-------------+ n +-------||||| heating_
        Tlink=tap     y_lo=1k-1kj         |                P10=200
                      y_tr=1µ+1µj         |
                                          |        \<-+->/
                                          |           |
                        _cap ||---------+ n +-------((~)) motor_
                          Q10=-10                          P10=160
                          Exp_v_q=2                        Q10=10

#.Deft(id=tap type=var min=-16 max=16 value=0 is_discrete=True cost=.03)
#.Defk(id=kcap type=var min=0 max=5 value=0 is_discrete=True cost=.05)
#.Klink(id_of_injection=cap id_of_factor=kcap part=q)
#.Vlimit(min=.95)
</pre></td>
</tr>
</table>

<ul>
    <li>entities in the multiline text are connectivity nodes (including slack nodes), branches, and injections</li>
    <li>IDs are word characters and numbers, underscores inside</li>
    <li>IDs starting wit "n" are connectivity nodes</li>
    <li>IDs starting wit "slack" are slack nodes</li>
    <li>branches are entities between two nodes</li>
    <li>injection IDs are adjacent to one connectivity node only</li>
    <li>text lines are entity lines, attribute lines, blank lines or footer</li>
    <li>attributes are followed by an equal sign "="</li>
    <li>attribute lines are associated to text lines which they follow or preceed without blank lines</li>
    <li>blank lines separate entity lines (with their preceeding or following attribute lines)</li>    
</ul>

In [ ]:
schema = """
                   (                                 ~~~
               +-->(                                 ~~~
slack +--------+   (-Branch-------------+ n +-------||||| heating_
        Tlink=tap     y_lo=1k-1kj         |                P10=200
                      y_tr=1µ+1µj         |
                                          |        \<-+->/
                                          |           |
                        _cap ||---------+ n +-------((~)) motor_
                          Q10=-10                          P10=160
                          Exp_v_q=2                        Q10=10

#.Deft(id=tap type=var min=-16 max=16 value=0 is_discrete=True cost=.03)
#.Defk(id=kcap type=var min=0 max=5 value=0 is_discrete=True cost=.05)
#.Klink(id_of_injection=cap id_of_factor=kcap part=q)
#.Vlimit(min=.95)
"""
step_params=[
    # first step: minimize voltage violations
    dict(objectives='U', constraints='U'),
    # second step: minimize cost
    dict(objectives='CL', constraints='U', floss=2)]
messages, results = dssex.create_model_and_estimate(schema, step_params=step_params)
ini, step0, result = results

In [31]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
messages

                   message  level
0  count of slack-nodes: 1      0
1     count of branches: 1      0
2   count of injections: 3      0

### Values of Initialization

In [32]:
ini['nodes']

        V_pu    Vim   Vre
id
n      0.932 -0.058  0.93
slack  1.000  0.000  1.00

In [33]:
ini['branches']

,I0_pu,I1_pu,P0_pu,P1_pu,Ploss_pu,Q0_pu,Q1_pu,Qloss_pu,S0_pu,S1_pu,Tap0,Tap1,V0_pu,V1_pu
id,,,,,,,,,,,,,,
Branch,128.824,128.824,384.893,-360.0,24.893,34.893,-10.0,24.893,386.472,360.139,0.0,-,1.0,0.932

In [34]:
ini['injections']

         Exp_v_p  Exp_v_q    I_pu    P10   P_pu   Q10  Q_pu   V_pu   kp   kq
id
cap          0.0      2.0   0.000    0.0    0.0 -10.0   0.0  0.932  1.0  0.0
heating      0.0      0.0  71.541  200.0  200.0   0.0   0.0  0.932  1.0  1.0
motor        0.0      0.0  57.345  160.0  160.0  10.0  10.0  0.932  1.0  1.0

### Values of First Step

In [35]:
step0['nodes']

        V_pu    Vim    Vre
id
n      0.965 -0.063  0.963
slack  1.000  0.000  1.000

In [36]:
step0['branches']

,I0_pu,I1_pu,P0_pu,P1_pu,Ploss_pu,Q0_pu,Q1_pu,Qloss_pu,S0_pu,S1_pu,Tap0,Tap1,V0_pu,V1_pu
id,,,,,,,,,,,,,,
Branch,127.777,124.66,383.31,-360.0,23.31,-3.968,27.278,23.31,383.331,361.032,-4.0,-,1.0,0.965

In [37]:
step0['injections']

         Exp_v_p  Exp_v_q    I_pu    P10   P_pu   Q10    Q_pu   V_pu   kp   kq
id
cap          0.0      2.0  12.872    0.0    0.0 -10.0 -37.278  0.965  1.0  4.0
heating      0.0      0.0  69.058  200.0  200.0   0.0   0.000  0.965  1.0  1.0
motor        0.0      0.0  55.354  160.0  160.0  10.0  10.000  0.965  1.0  1.0

### Result

In [38]:
result['nodes']

        V_pu    Vim    Vre
id
n      1.043 -0.056  1.041
slack  1.000  0.000  1.000

In [39]:
result['branches']

,I0_pu,I1_pu,P0_pu,P1_pu,Ploss_pu,Q0_pu,Q1_pu,Qloss_pu,S0_pu,S1_pu,Tap0,Tap1,V0_pu,V1_pu
id,,,,,,,,,,,,,,
Branch,126.658,115.144,379.887,-360.0,19.887,8.141,11.746,19.887,379.974,360.192,-16.0,-,1.0,1.043

In [40]:
result['injections']

         Exp_v_p  Exp_v_q    I_pu    P10   P_pu   Q10    Q_pu   V_pu   kp   kq
id
cap          0.0      2.0   6.952    0.0    0.0 -10.0 -21.746  1.043  1.0  2.0
heating      0.0      0.0  63.935  200.0  200.0   0.0   0.000  1.043  1.0  1.0
motor        0.0      0.0  51.248  160.0  160.0  10.0  10.000  1.043  1.0  1.0